__pycache__/
.idea/

.python-version

checkpoints/
G.original.pth
StyleGAN/

vgg/vgg_conv.pth
vgg/vgg.pth

results/
log/
faceparsing/
res/

datasets/
dataset/
test_dataset/
MT-Dataset*

scgan.zip
wandb/
